*{
    box-sizing: border-box;
}
body{
    background: #bdc3c7;
}
.popularpageContainer{
    width: 100%;
    min-height: 100vh;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}
.popularpagebuttonsContainer{
    width: 100%;
    min-height: 10vh;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.popularpagebuttonsContainer>button{
    background: black;
    color: white;
    margin: 4px;
    padding: 8px 10px;
    border: none;
    border-radius: 4px;
}
.popularpagebuttonsContainer>button:hover{
    cursor: pointer;
    background-color: rgb(20, 20, 20);
}

@media only screen and (min-width:1921px) and (max-width:2880px){
    .popularpagebuttonsContainer>button{
        transform: scale(1.25);
        margin: 24px;
        padding: 20px 20px;
        font-size: 1.1rem;
    }
}
@media only screen and (min-width:2881px){
    .popularpagebuttonsContainer>button{
        transform: scale(1.5);
        margin: 32px;
        padding: 18px 18px;
        font-size: 1.2rem;
    }
}